@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400);
body {
    font-family: "Open Sans"
}

h1 {
    margin: 1em;
    color: #456;
}

h2 {
    padding-left: 2em;
    font-weight: 400;
    color: #456;
}

ul {}

ul li {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0.5em 1em;
    color: #456;
}

form {
    display: block;
    margin: 20px auto;
    background: #eee;
    padding: 2em;
}

#progress {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

#bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

#percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

@media only screen and (max-device-width: 480px) {
    .col-md-4 {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 900px) {
    .col-md-4 {
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-device-width: 901px) {
    .col-md-4 {
        width: 50%;
        margin: auto;
    }
}
